<ul id="top_menu">
	<li style="background-color: #4f9351;"><a href="Enlace a github">Github</a></li>
	<li style="background-color: #6178ba;"><a href="tests.html">Test</a></li>
  </ul>
  
	<table class="contenido">
		<tbody><tr class="center"> 
			<td><h1 class="titulo1">Top Down Operator Precedence. Lexical Analysis</h1></td>
			</tr>
		
	<tr>
	  <td class="contenido">
	    <h2 class="titulo2">Input</h2>
	    <p>Rellene el cuadro de texto con un bloque de código <i>javascript</i>.</p>
		<!-- CodeMirror aquí -->
	    <textarea style="display: none;" id="INPUT" name="Code">var a = "hello"; // initialize a
			var b = function(x) {
			var c = 3;
			return x+c;
			};
        </textarea><div class="CodeMirror cm-s-default"><div style="overflow: hidden; position: relative; width: 3px; height: 0px; top: 31px; left: 130px;"><textarea tabindex="0" spellcheck="false" autocapitalize="off" autocorrect="off" wrap="off" style="position: absolute; padding: 0px; width: 1px; height: 1em; outline: medium none;">​</textarea></div><div style="left: 29px;" class="CodeMirror-hscrollbar"><div style="height: 1px; width: 0px;"></div></div><div class="CodeMirror-vscrollbar"><div style="width: 1px; height: 0px;"></div></div><div class="CodeMirror-scrollbar-filler"></div><div class="CodeMirror-gutter-filler"></div><div draggable="true" tabindex="-1" class="CodeMirror-scroll"><div style="min-width: 263px; margin-left: 29px; min-height: 86px;" class="CodeMirror-sizer"><div style="position: relative; top: 0px;"><div class="CodeMirror-lines"><div style="position: relative; outline: medium none;"><div class="CodeMirror-measure"></div><div style="position: relative; z-index: 1; display: none;"></div><div style="" class="CodeMirror-code"><div style="position: relative;"><div style="position: absolute; left: -29px;" class="CodeMirror-gutter-wrapper"><div style="left: 0px; width: 20px;" class="CodeMirror-linenumber CodeMirror-gutter-elt">1</div></div><pre><span class="cm-keyword">var</span> <span class="cm-variable">a</span> <span class="cm-operator">=</span> <span class="cm-string">"hello"</span>; <span class="cm-comment">// initialize a</span></pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;" class="CodeMirror-gutter-wrapper"><div style="left: 0px; width: 20px;" class="CodeMirror-linenumber CodeMirror-gutter-elt">2</div></div><pre><span class="cm-keyword">var</span> <span class="cm-variable">b</span> <span class="cm-operator">=</span> <span class="cm-keyword">function</span>(<span class="cm-def">x</span>) {</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;" class="CodeMirror-gutter-wrapper"><div style="left: 0px; width: 20px;" class="CodeMirror-linenumber CodeMirror-gutter-elt">3</div></div><pre>  <span class="cm-keyword">var</span> <span class="cm-def">c</span> <span class="cm-operator">=</span> <span class="cm-number">3</span>;</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;" class="CodeMirror-gutter-wrapper"><div style="left: 0px; width: 20px;" class="CodeMirror-linenumber CodeMirror-gutter-elt">4</div></div><pre>  <span class="cm-keyword">return</span> <span class="cm-variable-2">x</span><span class="cm-operator">+</span><span class="cm-variable-2">c</span>;</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;" class="CodeMirror-gutter-wrapper"><div style="left: 0px; width: 20px;" class="CodeMirror-linenumber CodeMirror-gutter-elt">5</div></div><pre>};</pre></div><div style="position: relative;"><div style="position: absolute; left: -29px;" class="CodeMirror-gutter-wrapper"><div style="left: 0px; width: 20px;" class="CodeMirror-linenumber CodeMirror-gutter-elt">6</div></div><pre>        </pre></div></div><div style="left: 100px; top: 26px; height: 13px; visibility: hidden;" class="CodeMirror-cursor">&nbsp;</div><div style="display: none; visibility: hidden;" class="CodeMirror-cursor CodeMirror-secondarycursor">&nbsp;</div></div></div></div></div><div style="position: absolute; height: 30px; width: 1px; top: 86px;"></div><div style="height: 86px;" class="CodeMirror-gutters"><div style="width: 28px;" class="CodeMirror-gutter CodeMirror-linenumbers"></div></div></div></div>
		<br>
		<input id="PARSE" value="Parse" type="button">
	  </td>
	</tr>
	<tr>
	  <td>
	    <ul id="menu">
          <li id="ejemplo1" onclick="dump('texto1.txt');">Ejemplo1</li>
          <li id="ejemplo2" onclick="dump('texto2.txt');">Ejemplo2</li>
          <li id="ejemplo3" onclick="dump('texto3.txt');">Ejemplo3</li>
        </ul>
	  </td>
	</tr>
	<tr>
	  <td class="contenido">
	  	<h2 class="titulo2">Tokens</h2>
	    <pre id="OUTPUT">&lt;Sin parsear&gt;</pre>
	  </td>
	</tr>
	
  </tbody></table>
  
	<script>
	 // Generar un editor CodeMirror a partir del textarea INPUT (se borra y se reemplaza).
    var editor = CodeMirror.fromTextArea(document.getElementById("INPUT"), {
      lineNumbers: true,
      viewportMargin: Infinity
    });
	
    // Véase http://stackoverflow.com/questions/8378678/how-can-i-set-the-value-of-a-codemirror-editor-by-javascript
    function dump(fileName) {
      $.get(fileName, function (data) {
        //$("#INPUT").val(data);
		  editor.setValue(data);
      });
    };
	</script>
